@import '../../../Styles/colors.scss';

.compansation-table {
    .columns {
        display: grid;
        grid-template-columns: 6% repeat(2, 1fr) 15% 20% 20% repeat(2, 1fr);
        gap: 2rem;
        color: $text;
        font-size: 1.4rem;
        font-weight: 700;
        padding-bottom: 1rem;
        border-bottom: 1px solid $border;
    }
}