@import "../../../styles/colors.scss";

.modal-wrapper {
  background: #0000007a;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  // &.purple {
  //   background-image: linear-gradient(to left, $purpleBG, $purpleBGLight);
  // }

  // &.login-bg {
  //   background: url("../../../Images/bg_login.jpg");
  //   background-position: center center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  .modal-content {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.3),
      0 2px 10px 0 rgba(88, 88, 88, 0.589);
    display: flex;
    flex-direction: column;
    position: relative;
    animation: animateTop 0.6s;
    padding: 2rem 4rem;
    min-width: 30vw;
    width: max-content;
    max-width: 85vw;
    height: max-content;
    max-height: 85vh;
    position: relative;
    overflow: auto;

    @media only screen and (max-width: 900px) {
      width: 45%;
    }
    @media only screen and (max-width: 640px) {
      width: 75%;
    }

    .closeBtn {
      position: absolute;
      top: 0;
      left: 1rem;
      cursor: pointer;
      font-size: 3.5rem;
      transition: color 0.2s ease;
      z-index: 20;
      color: #555555;

      &:hover {
        color: $error;
        transition: color 0.2s ease;
      }
    }
  }
}

@keyframes animateZoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animateTop {
  from {
    top: -50px;
    opacity: 0.5;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
