$orange: #ff8168;

$blue: #8fb3f2;
$darkBlue: #85acf0;
$lightBlue: #dfe9f9;

$bg: #f1f1f17a;

$text: #53607b;
$subText: #c6ccd4;
$darkSubText: #a2a9b6;

$border: #c6ccd493;

$error: #e83c70;
$green: #2dc061;
