@import '../../../../Styles/colors.scss';

.compansation-table-row {
    display: grid;
    grid-template-columns: 6% repeat(2, 1fr) 15% 20% 20% repeat(2, 1fr);
    align-items: center;
    color: $text;
    font-size: 1.5rem;
    // font-weight: 700;
    padding: 1rem 0;
    gap: 2rem;
    transition: background-color .2s ease;
    cursor: pointer;
    &:not(:last-child) {
        border-bottom: 1px solid $border; 
    }

    &:hover {
        transition: background-color .2s ease;
        background-color: $border;
        &.low-color {
            color: $text;
        }
    }

    .check-mark {
        width: 2.2rem;
    }

    &.low-color {
        // color: $darkSubText;
        // text-decoration: line-through;
    }
}